<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes Cadastrados</title>
    <link rel="stylesheet" href="../static/adm_Customer.css">
</head>
<body>
    <h1>Lista de Clientes Cadastrados</h1>
    <a href="/adm_Dashboard" class="action-button">Voltar</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Tipo</th>
                <th>Endereço</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario[0] }}</td>
                    <td>{{ usuario[1] }}</td>
                    <td>{{ usuario[2] }}</td>
                    <td>{{ usuario[3] }}</td>
                    <td>
                        {% if usuario[4] == 1 %}
                            Admin
                        {% elif usuario[4] == 0 %}
                            Cliente
                        {% else %}
                            Desconhecido
                        {% endif %}
                    </td>
                    <td>{{ usuario[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
